@charset "UTF-8";

body {
	background-color: #9370db;
	color: #fff;
	font: 1.8rem/1.4 Georgia, serif;
	margin: 1em;
}

h1 {
	text-decoration: underline;
}

.back-arrow:before {
	content: "\00AB";
}

.quote {
	background: #eee;
	color: #1e1f1f;
	border-radius: 1em;
	margin: 0 0 1em 0;
	padding: 1em;
}

.quote figcaption,
.quote blockquote {
	margin: 1em;
}

.quote figcaption p:first-child:before {
	content: "\2014";
	margin-right: 8px;
}

.quote figcaption p:last-child a:before {
	content: "\00BB";
}

.permalink {
	font-size: 1rem;
	text-align: right;
}
